absl-py==0.13.0
amqp==5.1.1
argon2-cffi==20.1.0
arrow==1.2.2
asgiref==3.4.1
astor==0.8.1
async-generator==1.10
attrs==21.2.0
autobahn==21.2.1
Automat==20.2.0
backcall==0.2.0
beautifulsoup4==4.11.1
billiard==3.6.4.0
black==22.3.0
bleach==3.3.0
blessed==1.19.1
botocore==1.20.109
bottle==0.12.19
bottle-websocket==0.2.9
CacheControl==0.12.11
cached-property==1.5.2
cachetools==4.2.4
celery==5.1.2
certifi==2021.5.30
cffi==1.15.0
channels==3.0.4
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cmake==3.22.1
constantly==15.1.0
cryptography==35.0.0
cycler==0.10.0
daphne==3.0.2
dataclasses @ file:///tmp/build/80754af9/dataclasses_1614363715916/work
debugpy==1.3.0
decorator==5.0.9
deepface==0.0.75
defusedxml==0.7.1
Django==3.2.5
django-celery-results==2.2.0
django-db==0.0.7
django-debug-toolbar==3.2.4
django-eel==0.11
django-picklefield==3.0.1
django-redis==5.2.0
django-widget-tweaks==1.4.11
dlib==19.22.1
editdistance==0.5.3
Eel==0.14.0
efficientnet==1.0.0
entrypoints==0.3
essential-generators==1.0
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.4.1
fire==0.4.0
firebase-admin==5.2.0
Flask==2.0.3
fonttools==4.25.2
ftfy==6.0.3
future==0.18.2
gast==0.2.2
gcloud==0.17.0
gdown==4.4.0
gevent==21.8.0
gevent-websocket==0.10.1
google-api-core==2.8.1
google-api-python-client==2.51.0
google-auth==2.8.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.1
google-cloud-firestore==2.5.2
google-cloud-storage==2.0.0
google-crc32c==1.3.0
google-pasta==0.2.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.2
greenlet==1.1.2
grpcio==1.46.3
grpcio-status==1.46.3
h5py==2.10.0
httplib2==0.20.2
hyperlink==21.0.0
icc-rt==2020.0.133
idna==2.10
imageio==2.9.0
imgaug==0.4.0
importlib-metadata==3.10.1
imutils==0.5.4
incremental==21.3.0
intel-openmp==2020.0.133
ipykernel==5.5.6
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jws==0.1.3
Keras==2.2.5
Keras-Applications==1.0.8
keras-ocr==0.8.7
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
kombu==5.1.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.3.4
matplotlib-inline==0.1.2
mistune==0.8.4
mkl==2019.0
mkl-fft==1.0.6
mkl-random==1.0.1.1
mkl-service==2.1.0
msgpack==1.0.4
mtcnn==0.1.1
mypy-extensions==0.4.3
nbclient==0.5.3
nbconvert==6.0.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.0
notebook==6.4.0
numpy==1.16.0
oauth2client==3.0.0
olefile==0.46
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.0
pandas==1.1.5
pandocfilters==1.4.3
parso==0.8.2
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
platformdirs==2.4.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
proto-plus==1.20.6
protobuf==3.19.4
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyclipper==1.3.0
pycparser==2.21
pycryptodome==3.4.3
Pygments==2.9.0
PyMySQL==1.0.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
Pyrebase==3.0.27
pyrsistent==0.18.0
PySocks==1.7.1
pytesseract==0.3.8
python-dateutil==2.8.1
python-jwt==2.0.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
redis==3.5.3
regex==2021.9.30
requests==2.27.1
requests-toolbelt==0.7.0
retina-face==0.0.12
rsa==4.8
s3transfer==0.4.2
scikit-image==0.17.2
scipy==1.5.4
seaborn==0.11.2
Send2Trash==1.7.1
service-identity==21.1.0
Shapely==1.7.1
six @ file:///tmp/build/80754af9/six_1623709665295/work
soupsieve==2.3.2.post1
sqlparse==0.4.1
tbb==2021.5.1
tbb4py==2021.5.1
tensorboard==1.15.0
tensorflow==1.15.0
tensorflow-estimator==1.15.1
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
thop==0.0.31.post2005241907
tifffile==2020.9.3
tomli==1.2.3
torch==1.7.1
torchaudio==0.7.0a0+a853dff
torchvision==0.8.2
tornado==6.1
tqdm==4.61.2
traitlets==4.3.3
Twisted==21.7.0
txaio==21.2.1
typed-ast==1.5.3
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
uritemplate==4.1.1
urllib3==1.26.6
validators==0.18.2
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
