{% extends 'base.html' %}


{% block stylesheets %}
<style>
    .stream-container i {
        font-size: 200px;
    }

    .stream-container {
        margin-top: 60px;
        height: 60vh;
        overflow: hidden;
    }
</style>
{% endblock stylesheets %}


{% block content %}
<div class="row justify-content-center align-items-center">
    <div class="col-7">
        <div class="stream-container bg-gray-200 d-flex justify-content-center align-items-center">
            <i id="stream-icon" class="fa fa-video-camera text-gray-500" aria-hidden="true"></i>
            <img src="" id="stream-display" class="d-none" width="100%" height="auto" alt="stream-frame">
        </div>

        <div class="controls mt-5 text-center">
            <button class="btn btn-primary stream-runner" id="mask-detection">Mask Detection</button>
            <button class="btn btn-primary stream-runner ml-2" id="face-recognition">Face Recognition</button>
            <button class="btn btn-primary stream-runner ml-2" id="distance-detection">Social Distancing</button>
            <button class="btn btn-primary stream-runner ml-2" id="combined-stream">Combined</button>
            <hr>

            <button class="btn btn-primary ml-2">Web Cam</button>
            <button class="btn btn-primary ml-2">Mobile Cam</button>
            <button class="btn btn-primary ml-2">Ip Cam</button>
        </div>
    </div>
</div>
{% endblock content %}



{% block scripts %}
<script>
    $(function () {

        const stream = $('#stream-display');
        const icon = $('#stream-icon');

        $('.stream-runner').on('click', start_stream);

        function start_stream(event) {
            let stream_url = `/dashboard/stream/web-cam/${event.target.id}`;
            if (stream[0].classList.contains('d-none')) {
                stream.attr('src', stream_url);
                stream.toggleClass('d-none');
                icon.toggleClass('d-none');
            } else {
                stop_stream();
            }
        }

        function stop_stream() {
            stream.attr('src', '');
            stream.toggleClass('d-none');
            icon.toggleClass('d-none');
        }

    });
</script>
{% endblock scripts %}