{% extends 'base.html' %}



{% block title %}
    {{ block.super }} - Password Reset Done
{% endblock title %}
    


{% block content %}
    <div class="container p-5">
        <h1>Password Reset Done</h1>
        <hr>
        <div class="alert alert-success" role="alert">
            <strong>Success! </strong> We've emailed you instructions for setting your password, if an account exists with the email you entered. 
            <br><br>
            You should receive them shortly. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam
            folder.
        </div>
    </div>
{% endblock content %}
    