{% extends 'base.html' %}

{% block title %}
{{ block.super }} - Login
{% endblock title %}



{% block content %}
<div class="row w-100 mh-100 m-0 justify-content-center align-items-center">
    {% if validlink %}
        <form method="post">

            <h1>New Password</h1>
            <hr>
            {% csrf_token %}

            {% include 'shared/form.html' %}

            <button type="submit" class="btn btn-success">New Password</button>
        </form>
    {% else %}
        <div class="card">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <strong>Request Deined!</strong> the following link has been expired.
                </div>
                <a href="{% url 'login' %}" class="btn btn-success">Login</a>
                <a href="{% url 'password_reset' %}" class="float-right"><small>Request a password reset?</small></a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}